/* JS_drawer v1.1.0 ,2023 */
/* create by syo motoyama*/
/* support by studio99.99(https://studio9999.com/) and CRAFT STUDIO SORA(https://cssora.net/) */
@charset "UTF-8";

:root {
    --drawerColor: #7ba68b;
    --barColor: #4d4637;
    --menuColor: linear-gradient(109.6deg, rgba(204, 228, 247, 1) 11.2%, rgba(237, 246, 250, 1) 100.2%);
}

.toggleButton {
    display: none;
}

#headerNav li {
    width: fit-content;
    text-align: center;
}

.open {
    inset-inline-end: 0;
}

.active {
    background-image: url(../images/close.png);
}

@media (width <=1000px) {
    .drawer {
        width: 4rem;
        height: 4rem;
        position: fixed;
        inset-block-start: 1.0rem;
        inset-inline-end: 0.25rem;
        background-image: url(../images/maru_rogo2-1@1.5x.png);
        background-position: center;
        background-size: 4rem;
        background-repeat: no-repeat;
        z-index: 100;
        display: block !important;
    }

    #headerNav {
        display: none;
    }

    .headerNavmedia {
        display: block !important;
        width: 100px;
        position: fixed;
        text-align: center;
        padding: 0.5rem;
        right: -120%;
        transition: all 0.3s linear;
        margin-top: 5.5rem;

        & ul {
            font-size: 12px;
        }
    }

    header .open {
        right: 0;
    }

    #headerNav ul {
        height: 100%;
        padding: 0.5rem;
        overflow: hidden;
        text-align: center;
        list-style-type: none;
        border-radius: 0 0 0 10px;
        display: none;
    }
}