@charset "utf-8";

:root {
    --color: #4d4637;
    --color2: #EEE5E5;
    --bg-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'BIZ UDPMincho';
    color: var(--color);
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 5rem 0 2.5rem;
    text-shadow: 0 2px 0 #C0C0C0, 0 3px 0 #C0C0C0, 0 4px 10px rgba(0, 0, 0, .5);
}

h3 {
    font-size: 24px;
    text-align: center;
}

/* **************************header********************** */

.headerWrap {
    background-image: url(../images/back_mokume1.png);
    background-position: 50% 10%;
    /* 画像の表示位置 */
    background-size: cover;
}

.headerItem {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
}

.headerWrap img {
    max-height: 80px;
}

/* **************************header_nav,navmedia********************** */

#headerNav {
    width: 100%;
    background-color: var(--color2);
    opacity: 0.8;
    position: fixed;
    z-index: 200;
    display: none;
}

#headerNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 1rem;
}

.drawer {
    display: none;
}

.headerNavmedia {
    width: 100%;
    background-color: var(--color2);
    /* transition: .7s; */
    position: fixed;
    z-index: 100;
    border-radius: 10px;
    display: none;
}

.headerNavmedia ul {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 0.25rem;
}

#headerNav ul a,
.headerNavmedia ul a {
    padding: 0.5rem;
    display: block;
}

/* aタグのインライン部分だけたとリンクボタン押しにくいのでdisplay:block;かけてpadding指定するといい */
#headerNav a:hover,
.headerNavmedia a:hover {
    opacity: 0.7;
    font-weight: bolder;
    background-color: var(--color);
    color: white;
}

/* ***************************main********************* */

main {
    background-image: url(../images/back_green.jpg);
    background-repeat: repeat;
}

.mainWrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* width:90%とか100以下にして調整するか、calc()計算を少し減らすか */

#conceptWrapper,
#newsWrapper,
#menuWrapper,
#accessWrapper {
    width: clamp(200px, 98%, 1000px);
    margin: 0 auto;
}

.swiper {
    position: relative;
    aspect-ratio: 16 / 9;
}

.swiper-wrapper {
    width: 100%;
}

/* 芯からあったまろ */
.swiper h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    /* @keyframesでtranslateかけると上書きされてしまうので、上記の記載が効かなくなる
    @keyframesのtransform: translateY(350px);を→translate(-50%,350px);に変更してあげる */
    font-size: 40px;
    padding: 0.5rem;
    background-color: white;
    z-index: 50;
    animation-name: atamaro;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

@keyframes atamaro {
    0% {
        transform: translate(-50%, 350px);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -20px);
        opacity: 0.5;
    }
}

.swiper-slide {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.swiper-wrapper .swiper-slide {
    z-index: -1;
}

/* ***************************concept********************* */

.conceptBoxcontainer {
    font-size: 18px;
    background-color: var(--bg-color);
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

.conceptBoxcontainer h3 {
    font-size: 40px;
}

.conceptBoxcontainer .conceptText {
    text-align: left;
}

.conceptBoxcontainer ul {
    line-height: 1.6;
    text-align: left;
    margin-left: 1rem;
}

/* ***************************news********************* */

.newscontainer {
    gap: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 1rem;
}

.newscontainer .newsImage {
    width: clamp(200px, 100%, 350px);
    object-fit: cover;
    overflow: hidden;
}

.newscontainer #newTextBox {
    width: 90%;
}

.newscontainer .newsText {
    display: flex;
    border-bottom: 1px solid var(--color);
    padding: 0.75rem 0;
    text-align: center;
}

.newscontainer .newsText h4 {
    width: 12rem;
}

#newTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newTextBox a:hover {
    opacity: 0.7;
    text-decoration: underline solid var(--color);
}


/* ***************************menu********************* */
#menuWrapper h3 {
    font-size: 32px;
    margin-top: 1.25rem;
}

.menuBoxcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    gap: 2rem;
}

#menuWrapper .menuBox {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.125rem;
    padding: 1rem;
    background-color: #d9d9d9;
    border-radius: 20px;
}

#menuWrapper .menuImagecircle {
    width: calc(100% / 2 - 1.125rem);
    max-width: 200px;
    /* height: auto; の代わりにaspect-ratio: 1 / 1;いれて比率を横幅とおなじにすることでラテアートiPhone7で縦の伸びしなくなる*/
    aspect-ratio: 1 / 1;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.125rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

#menuWrapper .menuImage,
#menuWrapper .menuText {
    width: calc(100% / 2 - 1.125rem);
    max-width: 200px;
    height: auto;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.125rem;
    border-radius: 1.25rem;
    margin: 0 auto;
}

#menuWrapper .menuText {
    width: 100%;
    width: 44.5%;
    height: 44.5%;
    font-size: 24px;
    background-color: white;
    z-index: 50;
}

#menuWrapper .menuImagecircle img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    /* object-position: center; 個別に指示したいので削除*/
}

/* imgにかけるとできる */
#menuWrapper .menuImage img {
    border-radius: 20px;
}

/* ********************menuImg位置調整******************** */
.drink1 img {
    object-position: 60%;
}

.drink2 img {
    transform: scale(1.125)translateY(10px);
    object-position: 55% 40%;
}

.drink3 img {
    transform: scale(1.55)translateX(5px);
    object-position: 100% 115%;
}

.drink4 img {
    transform: scale(1.35)translateY(10px)translateX(-15px);
    object-position: 120% 100%;
}

.sweets3 img {
    transform: scale(1.30)translateY(-3.5px);
    object-position: 100% 100%;
}

.sweets4 img {
    transform: scale(1.1);
    object-position: 75% 100%;
}

/* ***************************sns********************* */

.sns {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

.snsmadia {
    display: none;
}

.snscontainer .tiktok-embed {
    margin: 0 auto;
    border-radius: 10px;
}

/* ***************************access********************* */
.accesscontainer {
    display: flex;
    background-color: var(--bg-color);
    gap: 2rem;
    padding: 1rem;

}

.accesscontainer .accesscText {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accesscontainer .shinkibusLink:hover {
    opacity: 0.7;
    text-decoration: underline solid var(--color) 1px;
}

.iframeBox {
    width: 60%;
    height: auto;
}

.Googlemap {
    width: 100%;
    height: 350px;
}

.Googlemap iframe {
    width: 100%;
    height: 100%;
}

/* *****************************footer******************* */
footer {
    background-image: url(../images/back_mokume1.png);
    background-position: 50% 10%;
    background-size: cover;
    text-align: center;
    padding: 1rem;
}

/* **********************madia1 ************************** */
/* @media (width <=1000px) {
} 最新メディア*/

@media (max-width: 1000px) {

    .swiper h1,
    .conceptBoxcontainer h3 {
        font-size: 32px;
    }

    /* #conceptWrapper  */
    h2 {
        font-size: 28px;
        margin: 2.5rem 0 1rem;
    }

    h4,
    #menuWrapper .menuBox,
    #menuWrapper p {
        font-size: 17px;
    }

    h3 {
        font-size: 20px;
    }

    .newscontainer h4,
    p,
    ul {
        font-size: 16px;
    }

    .newscontainer {
        flex-wrap: wrap;
    }

    .newscontainer .newsText {
        flex-direction: column;
    }

    .menuBoxcontainer {
        gap: 1rem;
        box-sizing: border-box;
    }

    .sns {
        display: none;
    }

    .snsmadia {
        width: 150px;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        margin: 0 auto;
    }

    .accesscontainer {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .accesscontainer .accesscText,
    .iframeBox {
        width: 100%;
    }
}

/* ************************madia2 ************************ */
@media (max-width:650px) {

    .swiper h1 {
        font-size: 16px;
        padding: 0.25rem;
    }

    #conceptWrapper h3,

    #menuWrapper h3 {
        font-size: 20px;
    }

    p,
    .shinkibusLink,
    #conceptWrapper li {
        font-size: 13px;
    }

    .newsText,
    #menuWrapper .menuText {
        font-size: 16px;
    }

    .newscontainer,
    .menuBoxcontainer,
    .accesscontainer {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 1.0rem;
        box-sizing: border-box;
    }
}

.storename img {
    width: 80%;
}